node_modules
lib
test
scripts
.git
.gitignore
index.ts
tsconfig.json
tslint.json
webpack.config.js
webpack.config.dev.js
dist/coverage
tmp
.vscode
cache
.npmignore
.prettierrc
global.d.ts
jest.config.js
test/sources/default/index.d.ts
